<%
let translators_map = {};
site.posts.forEach(post => {
    let translator = post.translator.name || '匿名';
    if (translators_map[translator]) {
        translators_map[translator]['posts'].push(post);
    } else {
        translators_map[translator] = {
            'posts': [post],
            'url': post.translator.url,
            'icon': post.translator.icon
        }
    }
});
let sorted_translators = Object.entries(translators_map).sort((a, b) => b[1].length - a[1].length);
%>

<div id="about-translators">
    <div class="title center-align" data-aos="zoom-in-up">
        <i class="fa-solid fa-pencil"></i>&nbsp;&nbsp;译者视图
    </div>
    <% sorted_translators.forEach(translator => { %>
        <% let name = translator[0];
        let info = translator[1]; %>
        <div class="translator-name"><%= name %></div>
        <ul>
            <% info.posts.forEach(post => { %>
                <li>
                    <a href="<%- url_for(post.path) %>" target="_blank"> <%= post.title %> </a>
                </li>
            <% }) %>
        </ul>
    <% }) %>
</div>